.verify-container{
    width: 100%;
    /* margin-top: 5%; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.img-div {
    width: 40%;
    /* padding: 20px 20px 20px 50px;
    border-radius: 100%; */
}
.head1 {
    font-weight: 600;
    font-family: PT Sans,sans-serif;
    font-size: 35px;
    color: #656565;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.para, .para2 {
    margin-top: 2%;
    font-size: 18px;
    font-family: Montserrat,sans-serif;
}
.para2 {
    font-size: 18px;
    margin-top: 0;
}
.verify-btn {
    font-family: Montserrat,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    width: 20%;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
    background: #57b846;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    margin-top: 20px;

    transition: all .4s;
}